<% provide(:title, "Blog List") %>

<div class="jumbotron">
  <h1>Welcome to the BlogRails</h1>
  <p>
  	This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  </p> 
</div>

<div class="col-lg-8 col-md-10 col-md-offset-1">
	<% @posts.each do |post| %>
		<h2>
			<%= link_to "#{post.title}", post_path(post) %>
		</h2>
		<p class="lead">
			Posted by <%= link_to "Admin", root_path %>
			on <%= time_ago_in_words(post.created_at) %> ago
		</p>
		<hr>
	<% end %>

	<%= will_paginate %>
</div>
